html,
body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* headings */

body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

h3.subheading {
    color: rgba(58, 71, 80, 1);
    font-size: 20px;
    line-height: 30px;
}

h3.contact-me {
    color: rgba(58, 71, 80, .8);
    font-size: 20px;
    line-height: 30px;
}

h4,
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: #000000;
}

h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (max-width: 1000px) {
    p {
        text-align: left;
        margin-bottom: 1.5em;
    }
}


/* nav bar */

.section-main {
    text-align: center;
}

.section-main h3 {
    font-size: 23px;
}

nav.menu {
    font-size: 20px;
    width: 300px;
    min-height: 100vh;
    z-index: 98;
    display: inline-block;
}

nav#main-nav {
    width: 100%;
    padding-right: 30px;
    text-align: center;
}

nav a {
    margin-right: 30px;
    margin-left: 30px;
}


/* list */

ul {
    color: #000000;
    list-style: none;
    list-style-position: outside;
    margin-left: 0;
}

ul li {
    padding-bottom: 10px;
}


/*==========================================
  under line links based on http://www.misscarriemah.ca/ 
  which is based on code by Matt Beaudry
  https://codepen.io/mattbeaudry/pen/faKvy

  inline link underline based on http://ericls.com/
============================================*/

a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a.underline {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.inline-link::after {
    background: rgba(30, 215, 96, .20);
    bottom: 1px;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    transition: 60ms;
    width: 100%;
    z-index: 10;
}

a.inline-link {
    color: inherit;
    position: relative;
    text-decoration: none;
    transition: 80ms;
}

a.inline-link:hover,
a.inline-link:focus {
    font-weight: 300;
}

a.underline::before {
    content: " ";
    border-bottom: solid 3px #00BFA5;
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.underline:hover::before,
a.underline:active::before,
a.underline:focus::before,
a.underline:visited::before {
    border-bottom: solid 3px #00BFA5;
    left: 0%;
    width: 100%;
}

a.underline.underline::before {
    left: 0%;
}

.underline-active {
    font-weight: 300;
    background: #1B9AB6;
}

.vertical-distance {
    margin-top: 3em;
}


/*======================================================
  Grid based on http://www.misscarriemah.ca/ grid for col-3 and col-6
  which is based on code by Jan Drewniak 
  http://j4n.co/blog/Creating-your-own-css-grid-system========================================================*/

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    width: 100%;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    /* Gutter */
    padding-right: 60px;
}

.col-3 {
    width: 50%;
}

.col-6 {
    width: 100%;
}

@media all and (max-width: 1000px) {
    [class*='col-'] {
        padding-right: 0;
    }
    .col-3 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
}

@media all and (max-width: 650px) {
    .col-3 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 40px;
}


/* Experience section formatting based on http://www.mich.li/ */

.work-heading {
    display: table-cell;
    width: 50vw;
    color: #fff;
    font-weight: 400;
    max-width: 50vw;
    min-width: 200px;
    overflow: hidden;
    padding: 0 20vw 0 20vw;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
}

#ups {
    display: table;
    position: relative;
    vertical-align: middle;
}

#research {
    display: table;
    position: relative;
    vertical-align: middle;
}

#adamlouis {
    display: table;
    position: relative;
    vertical-align: middle;
}